@model List<ContatoModel>

@{
    ViewData["Title"] = "Listagem De Contatos";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">
            Adicionar Novo Contato
        </a>
    </div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-secondary  btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>

    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-secondary  btn-sm close-alert" aria-label="Close">X</button>
             @TempData["MensagemErro"]
        </div>

    }

    <h1 class="display-4">Listagem de Contatos</h1>

    <table class="table" id="table-contatos">
        <thead>
            <tr class="text-center">
                <th scope="col"><h5> #</h5></th>
                <th scope="col"><h5> Nome</h5></th>
                <th scope="col"><h5> Email</h5></th>
                <th scope="col"><h5> Telefone</h5></th>
                <th class="text-center" scope="col"><h5> Opções</h5></th>

            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                
                foreach (var contato in Model)
                {
                    <tr>
                        <th scope="row"></th>
                        <td class="text-start">@contato.Nome</td>
                        <td class="text-start">@contato.Email</td>
                        <td class="text-start">@contato.Telefone</td>
                        <td class="text-center">
                            <div class="btn-group" style="margin-right: 25px;">
                                <a role="button" class="btn btn-secondary shadow-none butao-Editar" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger shadow-none" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ApagarConfirmacao">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"> <td valigh="top" colspan="5">Nenhum Contato Encontrado</td> </tr>
            }

        </tbody>

    </table>

</div>
