@model UsuarioModel
@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="text-center">
    <h1 class="display-4">Editar Usuario</h1>
</div>

<form asp-controller="Usuario" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id"/>
    
    <div class="mb-4">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do Usuário">
          @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="mb-4">
        <label for="email">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail de Usuário">
          @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="mb-4">
        <label for="Login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o Login do Usuário">
          @Html.ValidationMessageFor(model => model.Login)
   </div>

  <div class="mb-4">
        <label for="senha">Pefil</label>
        <select asp-for="Perfil"  class="form-control">
            <option value="" >Selecione </option>
            <option value="@MvcCadastro.Enums.PerfilEnum.Administrador" >Administrador </option>
            <option value="@MvcCadastro.Enums.PerfilEnum.UsuarioPadrao" >Padrão </option>
        </select>
        @Html.ValidationMessageFor(model => model.Perfil)
    </div>




    <div class="button-group">
        <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    </div>
    <br>
    <div class="button-group">
        <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
    </div>
</form>
